.Home {
  text-align: center;
}

.home-container {
  background-color: #0D1321;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-logo {
  width: 500px;
  position: absolute;
  top: 10px;
  left: 10px;
}

